body {
  padding: 1em;
  background-color: #101010;
  color: #fa0
}

header {
  text-align: center;
  margin-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}


